/*
	1 Div, que contem os dados dos repositorios
*/
.detalhesRepo{
	height:467px;
	width:620px;
	float: left;
	border:1px solid #92cdec;
	margin:0px;
}

/**/
.topRepo{
	height:467px;
	width:400px;
	float: left;
	border:1px solid #92cdec;
}

/**/
.repPesquisa{
	height:467px;
	width:200px;
	float: left;
	border:1px solid #92cdec;
}

/*
	Div que contem a descricao dos varios repositorios, div geral
*/
.divDescricao{
	width:597px;
	height:120px;
	border:1px solid #92cdec;
	background-color: #DCDCDC;
	margin:10px;
}

/*
	Div que contem as imagens de cada descicao do repositorio
*/
.divImagDescri{
	border:1px solid #92cdec;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
}

/*
	Div que contem todos os dados de cada repositorios
*/
.descricao{
	border:1px solid #92cdec;
	width:450px;
	height:100px;
	float:left;
	margin:10px;
}

/*
	Tamanho da imagem de cada repositorio
*/
.imageDes{
	width:100px;
	height:100px;
}

/*
	Div que contem o nome projecto
*/
.nomeRepo{
	width: 156px;
	height:20px;
	border:1px solid #92cdec;
	font-size:14px;
	float:left;
	text-align:center;
}

/*
	Div que contem as linguagens do Projecto
*/
.linguagensRepo{
	width: 290px;
	height:20px;
	border:1px solid #92cdec;
	font-size:14px;
	float:left;
	text-align: right;
}

/*
	Div que contem os detalhes do projecto
*/
.descricaoDetalhes{
	width: 448px;
	height: 42px;
	border:1px solid #92cdec;
	float:left;
}
.owners{
	width: 240px;
	height: 32px;
	border:1px solid #92cdec;
	float:left;
}
.url{
	width: 206px;
	height: 32px;
	border:1px solid #92cdec;
	float:left;
}

#container{
	width: 390px; 
	height: 200px;
}

.divPesquisaExt{
	width: 198px;
	height: 150px;
	float:left;
	background-color: black;
}

.divPesquisaInt{
	width: 160px;
	height: 110px;
	margin:20px;
	float:left;
	background-color: gray;
}
.nomePesquisas{
	margin:10px;
	width: 135px;
	height: 20px;
	border:1px solid #92cdec;
}

.campoEscreverPesquisas{
	margin:10px;
	width: 135px;
	height: 20px;
	border:1px solid #92cdec;
}

.pesquisaObjec{
	width: 133px;
	height: 16px;
}

.buttonPesquisas{
	margin:10px;
	width: 135px;
	height: 20px;
	border:1px solid #92cdec;
}

.buttonGo{
	width: 136px;
	height: 20px;
}