.descricaoProjectNew{
	border:1px solid #C0C0C0;
	width:304px;
	height:130px;
	float:left;
	margin:10px;
}
.divDescricaoProjj{
	width:450px;
	height:150px;
	/*border:1px solid #92cdec;*/
	background-color: #F8F8FF;
	margin:10px;
}
.dataIni{
	width: 100px;
	height: 32px;
	border:1px solid #C0C0C0;
	float:left;
}
.dataAc{
	width: 200px;
	height: 32px;
	border:1px solid #C0C0C0;
	float:left;
}
.UrlPr{
	width: 302px;
	height: 28px;
	border:1px solid #C0C0C0;
	float:left;
}
.helloWorldDiv{
	border:1px solid #C0C0C0;
	width:340px;
	height:380px;
	margin:10px;
	background-color:#C0C0C0;;
}