/*
	1 Div, que contem os dados dos repositorios
*/
#detalhesPROJ{
	height:467px;
	width:1020px;
	float: left;
	border:1px solid #92cdec;
	margin:0px;
}

/**/
#topProj{
	height:467px;
	width:400px;
	float: left;
	border:1px solid #92cdec;
}

/**/
#projPesquisa{
	height:467px;
	width:200px;
	float: left;
	border:1px solid #92cdec;
}

/*
	Div que contem a descricao dos varios repositorios, div geral
*/
.divDescricaoProj{
	width:597px;
	height:120px;
	border:1px solid #92cdec;
	background-color: #DCDCDC;
	margin:10px;
}

/*
	Div que contem as imagens de cada descicao do repositorio
*/
.divImagDescriProj{
	border:1px solid #92cdec;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
}

/*
	Div que contem todos os dados de cada repositorios
*/
.descricaoProj{
	border:1px solid #92cdec;
	width:450px;
	height:100px;
	float:left;
	margin:10px;
}

/*
	Tamanho da imagem de cada repositorio
*/
.imageDesProj{
	width:100px;
	height:100px;
}

/*
	Div que contem o nome projecto
*/
.nomeProj{
	width: 156px;
	height:20px;
	border:1px solid #92cdec;
	font-size:14px;
	float:left;
	text-align:center;
}

/*
	Div que contem as linguagens do Projecto
*/
.linguagenslinguagensProj{
	width: 290px;
	height:20px;
	border:1px solid #92cdec;
	font-size:14px;
	float:left;
	text-align: right;
}

/*
	Div que contem os detalhes do projecto
*/
.descricaoDetalhesProj{
	width: 448px;
	height: 42px;
	border:1px solid #92cdec;
	float:left;
}
.ownersownersProj{
	width: 240px;
	height: 32px;
	border:1px solid #92cdec;
	float:left;
}
.urlurlProj{
	width: 206px;
	height: 32px;
	border:1px solid #92cdec;
	float:left;
}


.divPesquisaExtProj{
	width: 198px;
	height: 150px;
	float:left;
	background-color: black;
}

.divPesquisaIntProj{
	width: 160px;
	height: 110px;
	margin:20px;
	float:left;
	background-color: gray;
}
.nomePesquisasProj{
	margin:10px;
	width: 135px;
	height: 20px;
	border:1px solid #92cdec;
}

.campoEscreverPesquisasProj{
	margin:10px;
	width: 135px;
	height: 20px;
	border:1px solid #92cdec;
}

#pesquisaObjecProj{
	width: 133px;
	height: 16px;
}

.buttonPesquisasProj{
	margin:10px;
	width: 135px;
	height: 20px;
	border:1px solid #92cdec;
}

#buttonGoProj{
	width: 136px;
	height: 20px;
}